<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <img src="/img/klikml.png" alt="logo" class="logo" style="display: block; user-select: none" />
        <div id="urlboxcontainer">
            <input type="url" class="urlbox" size="40" name="url" value="" onfocus="this.select()" />
        </div>
        <button type="submit" class="submitbutton" disabled>Shorten</button>
        <div id="count">
            Shortened <b id="urls"> <%= locals.urls %> </b> URLs<br />That have been accessed
            <b id="visits"> <%= locals.visits %> </b> times
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</html>
