<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <title>Error</title>
    </head>
    <body>
        <div id="wrapper" style="margin-top: 20px; margin-left: 20px">
            <div id="main">
                <p style="font-size: large"><b>Error</b></p>
                <p>
                    Sorry, the link you accessed doesn't exist on our service. Please keep in mind that our shortened links
                    are case sensitive and may contain letters and numbers.
                </p>
            </div>
        </div>
    </body>
</html>
