<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=460" />
    <title>v.gd - The ethical URL shortener</title>
    <meta name="keywords"
        content="URL shortener,shorten,URL,link,smaller,shorter,hyperlink,shorten web address,v.gd,is.gd" />
    <meta name="description"
        content="The ethical URL shortener with no registration required. Our features include custom shortened URLs and detailed statistics." />
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" href="https://v.gd/search.xml" title="v.gd" />
    <script type="text/javascript" src="createform.js"></script>
    <script type="text/javascript">
        function focusbox() {
            document.mainform.url ? document.mainform.url.focus() : undefined
            shorturloff();
        }

        window.onload = focusbox;
    </script>
</head>

<body>
    <div id="wrapper">
        <div id="main">
            <img src="https://v.gd/vgdlogo.png" alt="v.gd logo" class="logo" />
            <form method="post" name="mainform" action="/api/url/shorten" id="mainform" onsubmit="return submitForm()">
                <div id="errortext"></div>
                <div id="urlboxcontainer">
                    <input type="text" class="urlbox" maxlength="5000" size="55" name="longUrl" value="" />
                </div>
                <div id="shorturllabel" style="display: block;"><label onclick="shorturlon()">Further options/custom
                        URL&#9660;</label></div>
                <div id="shorturllabel2" style="display: none;"><label onclick="shorturloff()">&#9650;</label></div>
                <div id="shorturllabel3" style="display: none;"><label>&nbsp;</label></div>
                <div id="shorturlboxcontainer" style="display: none;">
                    https://shrt.ml/<input type="text" class="shorturlbox" maxlength="30" size="30" name="shorturl"
                        value="" onchange="shortURLChanged()" onkeyup="shortURLChanged()"
                        onmouseout="shortURLChanged()" />
                </div>
                <div id="options" style="display: none;">
                    <input type="radio" name="opt" id="r1" value="0" checked="checked" /><label
                        for="r1">Standard</label><input type="radio" name="opt" id="r2" value="1" /><label
                        for="r2">Lower case</label><input type="radio" name="opt" id="r3" value="2" /><label
                        for="r3">Lower case pronounceable</label>
                </div>
                <!-- <div id="statsopt" style="display: none;">
                    <input type="checkbox" name="logstats" id="logstats" value="1" /><label for="logstats">Log
                        statistics for this link</label>
                </div> -->
                <input type="submit" class="submitbutton" value="Shorten!" />
            </form>

            <div id="count">
                Shortening <b>
                    <%= locals.shortURLs.length %>
                </b> URLs<br />That have been accessed <b>
                    <%= locals.clicks %>
                </b> times
            </div>
        </div>
        <div id="push"></div>
    </div>
    <script type="text/javascript">
    </script>
</body>

</html>