<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=460" />
        <title>shrt.ml - The ethical URL shortener</title>
        <meta name="description" content="The ethical URL shortener with no registration required." />
        <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script type="text/javascript">
            $(function () {
                $(document).on("click", "input[type=url]", function () {
                    this.select();
                });
            });
        </script> -->

        <script language="JavaScript" type="text/javascript">
            function focusbox() {
                document.querySelector(".urlbox").focus();
                shorturloff();
            }

            window.onload = focusbox;
        </script>
    </head>

    <body>
        <div id="wrapper">
            <div id="main">
                <div class="shorten_url" style="display: none; margin-top: 20px; margin-left: 20px">
                    <p><b>Your shortened URL is:</b></p>
                    <div class="copy_container">
                        <!-- <input type="url" id="short_url" readonly value="" onfocus="this.select()" /> -->
                        <a href="" id="short_url" target="_blank" rel="noopener noreferrer"></a>
                        <button class="copy_button">Copy</button>
                    </div>
                    <br />
                    <div class="oriurl"></div>
                </div>
                <hr id="line" style="display: none; margin-bottom: 20px" />
                <img src="./logo.png" class="logo" style="display: block; user-select: none" />
                <div class="lds-dual-ring" style="display: none; user-select: none"></div>

                <div id="errortext" style="display: none"></div>
                <div id="urlboxcontainer">
                    <input type="url" class="urlbox" size="40" name="longUrl" value="" onfocus="this.select()" />
                </div>
                <div id="shorturllabel" style="display: block; margin-bottom: 10px; user-select: none">
                    <label onclick="shorturlon()">Further options/custom URL&#9660;</label>
                </div>
                <div id="shorturllabel2" style="display: none; user-select: none">
                    <label onclick="shorturloff()">&#9650;</label>
                </div>
                <div id="shorturllabel3" style="display: none"><label>&nbsp;</label></div>
                <div id="shorturlboxcontainer" style="display: none; margin-bottom: 15px; user-select: none">
                    https://shrt.ml/<input type="text" class="shorturlbox" maxlength="30" size="30" name="shorturl" value="" />
                </div>

                <button type="submit" class="submitbutton">Shorten</button>

                <div id="count">
                    Shortening <b> <%= locals.shortURLs.length %> </b> URLs<br />That have been accessed
                    <b> <%= locals.clicks %> </b> times
                </div>
            </div>
        </div>
        <script type="text/javascript" src="createform.js"></script>
    </body>
</html>
