* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    padding: 3em;
    background-color: rgba(255, 255, 255, 0.3);
}

.input-box {
    height: 35px;
    display: flex;
    font-size: 1.2em;
}

.copy-box {
    height: 35px;
    display: flex;
    font-size: 1.2em;
    height: 2.2rem;
    margin-top: 1rem;
}

#shorten-btn {
    cursor: pointer;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

#copy-btn {
    cursor: pointer;
    height: 2.2rem;
    width: 4.6rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

#shorten-btn:hover {
    background-color: #23272a;
}

#copy-btn:hover {
    background-color: #23272a;
}

input {
    flex-grow: 1;
    font-family: "Trebuchet MS", sans-serif;
}

button {
    background-color: #3b4247;
    color: white;
}

input,
button {
    padding: 0 1em;
    display: block;
    border: none;
    outline: none;
}
